<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="../includes/base :: css">
    </head>
    <body>
        <header th:replace="../includes/base :: navbar"></header>
        
        
            <div class="feedback" style="padding: 10% 0;">

                <div class="card feedback-form text-center" >
                    <div class="feedback-form-body" id="feedback-form-body">
                        <form method="POST" action="#" th:action="@{/feedback/store}" th:object="${suggestModel}">
                            <div class="feedback-form-session" id="feedback-form-session">
                                
                                <div class="alert alert-danger"  th:if="${danger}">
                                    <span th:text="${danger}"></span>
                                </div>

                                <img src="/css/images/banteng_real.jpg" alt="" style="width: 20%; border-radius: 100%; padding-top: 20px;">
                                <br><br>
                                                                
                                <div class="input-group input-group-sm-lg mb-3 mx-5" style="width: 85%;">
                                    <span class="input-group-text" id="inputGroup-sizing-sm" style="background-color: #f9f9f9; border: none; padding-right: 17px;">Email </span>
                                    <input th:field="*{email_Suggest}" type="text" class="form-control" name="email" id="feedback-email-input" style="box-shadow: none; background-color: #f9f9f9; border: none; padding-left: 59px;" placeholder="Input Your Email" >
                                </div>

                                <div class="input-group input-group-sm-lg mb-3 mx-5" style="width: 85%;">
                                    <span class="input-group-text" id="inputGroup-sizing-sm" style="background-color: #f9f9f9; border: none; padding-right: 17px;">Feedback </span>
                                    <textarea th:field="*{content_Suggestion}" class="form-control" name="suggest" id="feedback-desc-input" style="box-shadow: none;padding-left: 25px;border: none;word-wrap: break-word; background-color: #f9f9f9; overflow-y: scroll;" cols="30" rows="10" ></textarea>
                                </div>
                                <input type="hidden" th:value="${session.id}" name="id_user" />                   
                                <button type="submit" class="btn-feedback-submit" id="btn-feedback-submit" style="float: right; width: 20%; margin-right: 20px;">Submit</button>
                                <br><br>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        
        <div th:replace="../includes/base  :: footer"></div>
        <div th:replace="../includes/base  :: scripts"></div>
    </body>
</html>
