<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="../includes/base :: css"></head>
    <body>
        <header th:replace="../includes/base :: navbar"></header>
        <div class="main">
        <div class="side-content s1">
            <label class="label-item-sell" for="table-item-sell">Want to Sell</label>
            <div class="left-small-content" style="background-color: cyan; overflow-y: scroll; height: 86vh;">
                <table class="table">
                    <tbody>
                    <tr>
                        <td>
                            <div class="table-item-sell" style="display: flex;">
                                <div class="item-sell-img">
                                    <img src="../css/images/banteng_real.jpg" width="50px" height="50px" alt="">
                                </div>
                                <div class="list-item-sell">
                                    <a href="#kerbaujantan" class="item-sell-name" style="text-decoration: underline; padding-left: 10px;">Kerbau Jantan</a><br>
                                    <label for="item-sell-name" class="item-sell-price">Rp 20.000.000</label>
                                </div>
                            </div>
                            <a href="#buy" style="float: right;"><i class="fas fa-shopping-cart"></i> Buy</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="table-item-sell" style="display: flex;">
                                <div class="item-sell-img">
                                    <img src="../css/images/banteng_real.jpg" width="50px" height="50px" alt="">
                                </div>
                                <div class="list-item-sell">
                                    <a href="#kerbaujantan" class="item-sell-name" style="text-decoration: underline; padding-left: 10px;">Kerbau Jantan</a><br>
                                    <label for="item-sell-name" class="item-sell-price">Rp 20.000.000</label>
                                </div>
                            </div>
                            <a href="#buy" style="float: right;"><i class="fas fa-shopping-cart"></i> Buy</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="table-item-sell" style="display: flex;">
                                <div class="item-sell-img">
                                    <img src="../css/images/banteng_real.jpg" width="50px" height="50px" alt="">
                                </div>
                                <div class="list-item-sell">
                                    <a href="#kerbaujantan" class="item-sell-name" style="text-decoration: underline; padding-left: 10px;">Kerbau Jantan</a><br>
                                    <label for="item-sell-name" class="item-sell-price">Rp 20.000.000</label>
                                </div>
                            </div>
                            <a href="#buy" style="float: right;"><i class="fas fa-shopping-cart"></i> Buy</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="table-item-sell" style="display: flex;">
                                <div class="item-sell-img">
                                    <img src="../css/images/banteng_real.jpg" width="50px" height="50px" alt="">
                                </div>
                                <div class="list-item-sell">
                                    <a href="#kerbaujantan" class="item-sell-name" style="text-decoration: underline; padding-left: 10px;">Kerbau Jantan</a><br>
                                    <label for="item-sell-name" class="item-sell-price">Rp 20.000.000</label>
                                </div>
                            </div>
                            <a href="#buy" style="float: right;"><i class="fas fa-shopping-cart"></i> Buy</a>
                        </td>
                    </tr><tr>
                        <td>
                            <div class="table-item-sell" style="display: flex;">
                                <div class="item-sell-img">
                                    <img src="../css/images/banteng_real.jpg" width="50px" height="50px" alt="">
                                </div>
                                <div class="list-item-sell">
                                    <a href="#kerbaujantan" class="item-sell-name" style="text-decoration: underline; padding-left: 10px;">Kerbau Jantan</a><br>
                                    <label for="item-sell-name" class="item-sell-price">Rp 20.000.000</label>
                                </div>
                            </div>
                            <a href="#buy" style="float: right;"><i class="fas fa-shopping-cart"></i> Buy</a>
                        </td>
                    </tr><tr>
                        <td>
                            <div class="table-item-sell" style="display: flex;">
                                <div class="item-sell-img">
                                    <img src="../css/images/banteng_real.jpg" width="50px" height="50px" alt="">
                                </div>
                                <div class="list-item-sell">
                                    <a href="#kerbaujantan" class="item-sell-name" style="text-decoration: underline; padding-left: 10px;">Kerbau Jantan</a><br>
                                    <label for="item-sell-name" class="item-sell-price">Rp 20.000.000</label>
                                </div>
                            </div>
                            <a href="#buy" style="float: right;"><i class="fas fa-shopping-cart"></i> Buy</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="table-item-sell" style="display: flex;">
                                <div class="item-sell-img">
                                    <img src="../css/images/banteng_real.jpg" width="50px" height="50px" alt="">
                                </div>
                                <div class="list-item-sell">
                                    <a href="#kerbaujantan" class="item-sell-name" style="text-decoration: underline; padding-left: 10px;">Kerbau Jantan</a><br>
                                    <label for="item-sell-name" class="item-sell-price">Rp 20.000.000</label>
                                </div>
                            </div>
                            <a href="#buy" style="float: right;"><i class="fas fa-shopping-cart"></i> Buy</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="table-item-sell" style="display: flex;">
                                <div class="item-sell-img">
                                    <img src="../css/images/banteng_real.jpg" width="50px" height="50px" alt="">
                                </div>
                                <div class="list-item-sell">
                                    <a href="#kerbaujantan" class="item-sell-name" style="text-decoration: underline; padding-left: 10px;">Kerbau Jantan</a><br>
                                    <label for="item-sell-name" class="item-sell-price">Rp 20.000.000</label>
                                </div>
                            </div>
                            <a href="#buy" style="float: right;"><i class="fas fa-shopping-cart"></i> Buy</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="table-item-sell" style="display: flex;">
                                <div class="item-sell-img">
                                    <img src="../css/images/banteng_real.jpg" width="50px" height="50px" alt="">
                                </div>
                                <div class="list-item-sell">
                                    <a href="#kerbaujantan" class="item-sell-name" style="text-decoration: underline; padding-left: 10px;">Kerbau Jantan</a><br>
                                    <label for="item-sell-name" class="item-sell-price">Rp 20.000.000</label>
                                </div>
                            </div>
                            <a href="#buy" style="float: right;"><i class="fas fa-shopping-cart"></i> Buy</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Content Home -->
        <div class="mid-content">
            <label class="label-item-buy" for="table-item-buy">Want to Buy</label>
            <div class="mid-small-content m1" style="background-color: yellow; overflow-y: scroll; height: 86vh;">
                <table class="table">
                    <tbody>
                    <tr>
                        <td>
                            <div class="table-item-sell" style="display: flex;">
                                <div class="item-sell-img">
                                    <img src="../css/images/banteng_real.jpg" width="50px" height="50px" alt="">
                                </div>
                                <div class="list-item-sell">
                                    <a href="#kerbaujantan" class="item-sell-name" style="text-decoration: underline; padding-left: 10px;">Kerbau Jantan</a><br>
                                    <label for="item-sell-name" class="item-sell-price">Rp 20.000.000</label>
                                </div>
                            </div>
                            <a href="#buy" style="float: right;"><i class="fas fa-shopping-cart"></i> Buy</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="table-item-sell" style="display: flex;">
                                <div class="item-sell-img">
                                    <img src="../css/images/banteng_real.jpg" width="50px" height="50px" alt="">
                                </div>
                                <div class="list-item-sell">
                                    <a href="#kerbaujantan" class="item-sell-name" style="text-decoration: underline; padding-left: 10px;">Kerbau Jantan</a><br>
                                    <label for="item-sell-name" class="item-sell-price">Rp 20.000.000</label>
                                </div>
                            </div>
                            <a href="#buy" style="float: right;"><i class="fas fa-shopping-cart"></i> Buy</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="table-item-sell" style="display: flex;">
                                <div class="item-sell-img">
                                    <img src="../css/images/banteng_real.jpg" width="50px" height="50px" alt="">
                                </div>
                                <div class="list-item-sell">
                                    <a href="#kerbaujantan" class="item-sell-name" style="text-decoration: underline; padding-left: 10px;">Kerbau Jantan</a><br>
                                    <label for="item-sell-name" class="item-sell-price">Rp 20.000.000</label>
                                </div>
                            </div>
                            <a href="#buy" style="float: right;"><i class="fas fa-shopping-cart"></i> Buy</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="table-item-sell" style="display: flex;">
                                <div class="item-sell-img">
                                    <img src="../css/images/banteng_real.jpg" width="50px" height="50px" alt="">
                                </div>
                                <div class="list-item-sell">
                                    <a href="#kerbaujantan" class="item-sell-name" style="text-decoration: underline; padding-left: 10px;">Kerbau Jantan</a><br>
                                    <label for="item-sell-name" class="item-sell-price">Rp 20.000.000</label>
                                </div>
                            </div>
                            <a href="#buy" style="float: right;"><i class="fas fa-shopping-cart"></i> Buy</a>
                        </td>
                    </tr><tr>
                        <td>
                            <div class="table-item-sell" style="display: flex;">
                                <div class="item-sell-img">
                                    <img src="../css/images/banteng_real.jpg" width="50px" height="50px" alt="">
                                </div>
                                <div class="list-item-sell">
                                    <a href="#kerbaujantan" class="item-sell-name" style="text-decoration: underline; padding-left: 10px;">Kerbau Jantan</a><br>
                                    <label for="item-sell-name" class="item-sell-price">Rp 20.000.000</label>
                                </div>
                            </div>
                            <a href="#buy" style="float: right;"><i class="fas fa-shopping-cart"></i> Buy</a>
                        </td>
                    </tr><tr>
                        <td>
                            <div class="table-item-sell" style="display: flex;">
                                <div class="item-sell-img">
                                    <img src="../css/images/banteng_real.jpg" width="50px" height="50px" alt="">
                                </div>
                                <div class="list-item-sell">
                                    <a href="#kerbaujantan" class="item-sell-name" style="text-decoration: underline; padding-left: 10px;">Kerbau Jantan</a><br>
                                    <label for="item-sell-name" class="item-sell-price">Rp 20.000.000</label>
                                </div>
                            </div>
                            <a href="#buy" style="float: right;"><i class="fas fa-shopping-cart"></i> Buy</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="table-item-sell" style="display: flex;">
                                <div class="item-sell-img">
                                    <img src="../css/images/banteng_real.jpg" width="50px" height="50px" alt="">
                                </div>
                                <div class="list-item-sell">
                                    <a href="#kerbaujantan" class="item-sell-name" style="text-decoration: underline; padding-left: 10px;">Kerbau Jantan</a><br>
                                    <label for="item-sell-name" class="item-sell-price">Rp 20.000.000</label>
                                </div>
                            </div>
                            <a href="#buy" style="float: right;"><i class="fas fa-shopping-cart"></i> Buy</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="table-item-sell" style="display: flex;">
                                <div class="item-sell-img">
                                    <img src="../css/images/banteng_real.jpg" width="50px" height="50px" alt="">
                                </div>
                                <div class="list-item-sell">
                                    <a href="#kerbaujantan" class="item-sell-name" style="text-decoration: underline; padding-left: 10px;">Kerbau Jantan</a><br>
                                    <label for="item-sell-name" class="item-sell-price">Rp 20.000.000</label>
                                </div>
                            </div>
                            <a href="#buy" style="float: right;"><i class="fas fa-shopping-cart"></i> Buy</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="table-item-sell" style="display: flex;">
                                <div class="item-sell-img">
                                    <img src="../css/images/banteng_real.jpg" width="50px" height="50px" alt="">
                                </div>
                                <div class="list-item-sell">
                                    <a href="#kerbaujantan" class="item-sell-name" style="text-decoration: underline; padding-left: 10px;">Kerbau Jantan</a><br>
                                    <label for="item-sell-name" class="item-sell-price">Rp 20.000.000</label>
                                </div>
                            </div>
                            <a href="#buy" style="float: right;"><i class="fas fa-shopping-cart"></i> Buy</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="side-content s2">
            <label class="label0item-log" for="log-history">Log</label>
            <div class="right-small-content" style="background-color: purple; overflow-y: scroll;" id="right-small-content"></div>
        </div>
    </div>
        <div th:replace="../includes/base  :: footer"></div>
    </body>
</html>
